.env
.env.*
!.env.example

**/.env
**/.env.*
!**/.env.example

node_modules/
client/node_modules/
server/node_modules/

client/dist/
server/dist/

server/prisma/*.db
server/prisma/*.db-*
server/prisma/dev.db
